services:
  kong:
    image: kong:3.4
    container_name: kong-gateway
    user: '0:0'
    environment:
      KONG_DATABASE: 'off'
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
      KONG_PROXY_LISTEN: 0.0.0.0:80
      KONG_LOG_LEVEL: notice
    volumes:
      - ./kong.yml:/usr/local/kong/declarative/kong.yml:ro
    ports:
      - '80:80'
    networks:
      - game-network
    depends_on:
      ms-juegos:
        condition: service_healthy
      ms-token:
        condition: service_healthy

  db:
    image: postgres:15
    container_name: db-postgres
    environment:
      - POSTGRES_USER=omar
      - POSTGRES_PASSWORD=omar11mi
      - POSTGRES_DB=storeGames
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - '5433:5432'
    networks:
      - game-network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U omar -d storeGames']
      interval: 5s
      timeout: 5s
      retries: 5

  ms-juegos:
    build: ./ms-operation-game
    container_name: ms-juegos
    restart: on-failure
    environment:
      - DATABASE_URL=postgresql://omar:omar11mi@db:5432/storeGames
    networks:
      - game-network
    depends_on:
      db:
        condition: service_healthy
    # --- HEALTHCHECK PARA FASTAPI ---
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8000/docs']
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 20s

  ms-token:
    build: ./ms-token
    container_name: ms-token
    restart: on-failure
    networks:
      - game-network
    # --- HEALTHCHECK PARA FASTAPI ---
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8000/docs']
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 20s

networks:
  game-network:
    driver: bridge
