services:
  db:
    image: postgres:15
    container_name: db-postgres
    environment:
      - POSTGRES_USER=omar
      - POSTGRES_PASSWORD=omar11mi
      - POSTGRES_DB=storeGames
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - '5433:5432'
    networks:
      - game-network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U omar -d storeGames']
      interval: 5s
      timeout: 5s
      retries: 5

  ms-juegos:
    build: ./ms-operation-game
    container_name: ms-juegos
    restart: on-failure
    environment:
      - IS_PROD=false
      - DATABASE_URL_DEV=postgresql://omar:omar11mi@db:5432/storeGames
    ports:
      - '8002:8000'
    networks:
      - game-network
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'python3 -c ''import socket; s = socket.socket(); s.connect(("localhost", 8000))'' || exit 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  ms-token:
    build: ./ms-token
    container_name: ms-token
    restart: on-failure
    environment:
      - IS_PROD=false
      - DATABASE_URL_DEV=postgresql://omar:omar11mi@db:5432/storeGames
    ports:
      - '8001:8000'
    networks:
      - game-network
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'python3 -c ''import socket; s = socket.socket(); s.connect(("localhost", 8000))'' || exit 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  ms-pagos:
    build: ./ms-pay-method
    container_name: ms-pagos
    restart: on-failure
    environment:
      - IS_PROD=false
      - DATABASE_URL_DEV=postgresql://omar:omar11mi@db:5432/storeGames
    ports:
      - '8003:8000'
    networks:
      - game-network
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'python3 -c ''import socket; s = socket.socket(); s.connect(("localhost", 8000))'' || exit 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  ms-notificaciones:
    build: ./ms-notification
    container_name: ms-notificaciones
    restart: on-failure
    environment:
      - IS_PROD=false
      - DATABASE_URL_DEV=postgresql://omar:omar11mi@db:5432/storeGames
      - MAIL_USERNAME=obmoreno89@gmail.com
      - MAIL_PASSWORD=iowqfzqptmdmmtzr
      - MAIL_SERVER=smtp.gmail.com
      - MAIL_PORT=587
      - MAIL_STARTTLS=True
      - MAIL_SSL_TLS=False
    ports:
      - '8004:8000'
    networks:
      - game-network
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'python3 -c ''import socket; s = socket.socket(); s.connect(("localhost", 8000))'' || exit 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  api-gateway:
    build: .
    container_name: api-gateway
    restart: on-failure
    environment:
      - IS_PROD=false
      - MS_GAMES_URL_DEV=http://ms-juegos:8000
      - MS_TOKEN_URL_DEV=http://ms-token:8000
      - MS_PAY_URL_DEV=http://ms-pagos:8000
      - MS_NOTIFICATIONS_URL_DEV=http://ms-notificaciones:8000
      - API_KEY_NAME=api-key
      - VALID_API_KEY=d92024fe3f2027d3bcca3dc5b0efdce85ea8ec5ca5f61eea352b40e344497397
    ports:
      - '8000:8000'
    networks:
      - game-network
    depends_on:
      ms-juegos:
        condition: service_healthy
      ms-token:
        condition: service_healthy

networks:
  game-network:
    driver: bridge
